<%- include('head', { title: 'Imagem' }) %>
    <%- include('header') %>
        <!-- Parte do Cadastro de Produtos-->
        <div class="titulos">
            <h1>Vendas CTA - Faça já o seu pedido.</h1>            
        </div>
        <div>
            <div = class="titulos">
                <h2>Faça o seu pedido de compra:</h2>
            </div> 
            <div>
                <form action="http://localhost:3030/cadastrarproduto" method="GET" onSubmit="return validarDados()" name="dados">
                    <div class="form-group row">
                        <label for="nome" class="col-sm-2 col-form-label">Nome</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="nome">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="telefone" class="col-sm-2 col-form-label">Telefone</label>
                        <div class="col-sm-10">
                            <input type="tel" class="form-control" name="telefone">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="nomeProduto" class="col-sm-2 col-form-label">Nome do Produto</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control text" name="nome_produto">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label">Valor do Produto</label>
                        <div class="col-sm-10">
                            <input type="number" step = "0.01" class="form-control number" name="valor">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>

        <!-- Parte dos Pedidos já Cadastrados-->
        <div>
            <div class="titulos">
                <h2>Verificar Pedidos Feitos:</h2>
                <button id="verifica" type="submit" onclick="ajax()" class="btn btn-primary">Verificar</button>
            </div>             
            <div id="pedidos">
                
            </div>      
                     
        </div>

        <!-- Parte do Upload-->
        <div>
            <div class="titulos">
                <h2>Mostre uma foto da sua compra!</h2>
            </div>
            <form action="http://127.0.0.1:3030/upload" method="POST" enctype="multipart/form-data"
            onSubmit="return validarImagem()" name="imagem">
            <div> </div>
            <div id="submissao">
                <input type="file" name="file" size="50" name="file" />
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
        </div>

<%- include('footer') %>
